{% extends '_layouts/layout_main' %}
{% set body_class = 'page-home' %}


{% block content %}

{% set bannerImage = entry.bannerImage.one() %}
{% if bannerImage %}
  <div id="heroImage" class="uk-margin" style="background-image: url('{{ siteUrl ~ entry.bannerImage.one().getUrl()}}');"></div>
{% endif %}

{% set home = craft.entries.section('home').one() %}
<div class="uk-container">

  <!-- about section-->
  <section class="uk-margin-top">
    <div class="uk-flex uk-flex-middle uk-grid-match uk-grid-medium" uk-grid>
      <div class="uk-flex uk-flex-center">
        <div id="aboutText" class="uk-width-2-3@m uk-width-2-3@s ">{{ entry.about }}</div>
      </div>
    </div>
  </section>


  <!-- prof intro section -->
  <section class="uk-margin-large-top">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-3@m uk-width-1-2@s uk-flex uk-flex-column uk-flex-middle">
        {% set leftImage = entry.leftProfileImage.one() %}
        {% if leftImage %}
         <img data-src="{{ siteUrl ~ leftImage.getUrl('thumbSquare') }}" alt="{{entry.leftProfileName}}" width="{{ leftImage.getWidth('thumbSquare') }}" height="{{ leftImage.getHeight('thumbSquare') }}" uk-img>
        {% endif %}
        <h2>{{ entry.leftProfileName }}</h2>
        <p>{{ entry.leftProfileDescription }}</p>
      </div>

      <div class="uk-width-1-3@m uk-width-1-2@s uk-flex uk-flex-column uk-flex-middle">
        {% set rightImage = entry.rightProfileImage.one() %}
        {% if rightImage %}
         <img data-src="{{ siteUrl ~ rightImage.getUrl('thumbSquare') }}" alt="{{entry.rightProfileName}}" width="{{ rightImage.getWidth('thumbSquare') }}" height="{{ rightImage.getHeight('thumbSquare') }}" uk-img>
        {% endif %}
        <h2>{{ entry.rightProfileName }}</h2>
        <p>{{ entry.rightProfileDescription }}</p>
      </div>
    </div>
  </section>


  <!-- publication section -->
  <section class="uk-margin-large-top">
    <h1 class="uk-flex uk-flex-center">Featured Publications</h1>

    <div class="uk-child-width-1-4@s uk-grid-small" uk-grid>
      {% set projects = craft.entries({
        section: 'publications',
        orderBy: 'homePagePinned desc, postDate desc'
      }).limit(4).all() %}

      {% for entry in projects %}
        <div><div class="uk-card">
          <div class="uk-card-body uk-card-small uk-padding-remove-bottom">
            <a href="{{ entry.url }}">
              {% set image = entry.publicationImage.one() %}
              {% if image %}
                <img class="uk-margin-small-bottom thumbnailImage" data-src="{{ siteUrl ~ image.getUrl('thumbLSquare') }}" alt="{{ entry.title }} image" width="{{ image.getWidth('thumbLSquare') }}" height="{{ image.getHeight('thumbLSquare') }}" uk-img>
              {% else %}
                <img src="http://via.placeholder.com/400x400?text=&nbsp;" alt="placeholder image">
              {% endif %}
            </a>

            {# if the item is pinned, check for custom heading and use, otherwise use title #}
            {% set heading = entry.title %}
            {% if entry.homePagePinned %}
              {% set customHeadingBlock = entry.homePagePinnedHeading.one() %}
              {% if customHeadingBlock %} {# exists #}
                {% if customHeadingBlock.heading|length > 0 %}
                  {% set heading = customHeadingBlock.heading %}
                {% endif %}
              {% endif %}
            {% endif %}
            <p class="uk-margin-remove">{{ heading }}</p>

          </div>
        </div></div>
      {% endfor %}
    </div>

    <div class="uk-flex uk-flex-center uk-margin">
      <a class="cta-button uk-button" href="{{ siteUrl }}./publications">See more Publications</a> 
    </div>
  </section>



  <!-- news section -->
  <section class="uk-margin-large-top">
    <h1 class="uk-flex uk-flex-center">News</h1>

    <div class="uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-divider" uk-grid>
      {# fetch 4 pinned news items if exists, otherwise latest #}
      {% set newsItems = craft.entries({
        section: 'news',
        orderBy: 'pinToHome desc, postDate desc'
      }).limit(4).all() %}

      {% for entry in newsItems %}
        <div class="uk-card">
          <h2 class="uk-margin-remove-bottom">{{ entry.title }}</h2>
          
          {% set content = entry.newsContent %}
          {# truncate content if over 50 words #}
          {% if wordcount(content) > 50 %} 
            <div class="content-{{entry.slug}}">
              {{ content | chop(limit=30, unit='w', allowedTags='<h1><h2><h3><h4><h5<h6><p><ul><li><ol><strong><em><del>') }}
            </div>
            <div class="content-{{entry.slug}}" hidden>
              {{ content }}
            </div>
            <button class="uk-button uk-button-text" type="button" onclick="toggleReadBtn(this)" uk-toggle="target: .content-{{entry.slug}}">Read More</button>
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}

    </div>

    <div class="uk-flex uk-flex-center uk-margin">
      <a class="cta-button uk-button" href="{{ siteUrl }}./news">See more News</a> 
    </div>
  </section>



</div>

{% endblock %}