{% extends '_layouts/layout_main' %}

{% set body_class = 'page-home' %}

{% block content %}

{% set bannerImage = entry.bannerImage.one() %}
{% if bannerImage %}
  <div id="heroImage" class="uk-margin" style="background-image: url('{{entry.bannerImage.one().getUrl()}}');"></div>
{% endif %}

<div class="uk-container">
  <!-- about section-->
  <section class="uk-margin-large-top">
    {% set home = craft.entries.section('home').one() %}
    <div class="uk-flex uk-flex-middle uk-grid-match uk-grid-medium" uk-grid>
      <div class="uk-width-2-5@m">
        <div id="aboutText">
          {{ home.about }}
        </div>
      </div>

      <div class="uk-width-3-5@m" id="recruitBox">
        <div class="uk-card uk-card-body">
          <h3  class="uk-card-title">{{ home.recruitmentHeader }}</h3>
          <div class="uk-column-1-1@s uk-column-1-2@m">
            <div class="">
              {{ home.recruitmentLeft }}
            </div>
            <div class="">
              {{ home.recruitmentRight }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- news section -->
  <section class="uk-margin-large-top">
    <h1 class="uk-flex uk-flex-center">News</h1>

    <div class="uk-child-width-1-3@m uk-grid-divider" uk-grid>
      {% for entry in craft.entries.section('news').orderBy('date desc').limit(3).all() %}
      <div>
        <div class="uk-card uk-card-small uk-card-body">
          <h3 class="uk-card-title uk-margin-remove-bottom">{{ entry.title }}</h3>
          <p class="uk-text-meta uk-margin-remove-top">{{ entry.date | date('M d, Y') }}</p>
          {% set content = entry.newsContent %}
          {% if wordcount(content) > 40 %}
            <div class="content-{{entry.slug}}">
              {{ content | chop(limit=30, unit='w', allowedTags='<h1><h2><h3><h4><h5<h6><p><ul><li><ol><strong><em><del>') }}
            </div>
            <div class="content-{{entry.slug}}" hidden>
              {{ content }}
            </div>
            <button class="uk-button uk-button-text" type="button" onclick="toggleReadBtn(this)" uk-toggle="target: .content-{{entry.slug}}">Read More</button>
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="uk-flex uk-flex-center uk-margin">
      <a class="uk-button uk-button-primary" href="{{ siteUrl }}./news">See more News</a> 
    </div>
  </section>


<!-- research section -->
  <section class="uk-margin-large-top">
    <h1 class="uk-flex uk-flex-center">Selected Research</h1>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      {% set projects = craft.entries({
          section: 'research',
          orderBy: 'homePageFeatured desc, postDate desc'
      }).limit(3).all() %}
      {% for entry in projects %}
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            {% set image = entry.researchFeatureImage.one() %}
            {% if image %}
              <img data-src="{{ image.getUrl('thumbWide') }}" alt="Project image" width="{{ image.getWidth('thumbWide') }}" height="{{ image.getHeight('thumbWide') }}" uk-img>
            {% else %}
              <img src="http://via.placeholder.com/580x320?text=&nbsp;" alt="placeholder">
            {% endif %}
          </div>
          <div class="uk-card-body">
            <h3 class="uk-margin-small-bottom">{{ entry.title }}</h3>
            <p class="uk-text-meta uk-margin-remove-top">{{ entry.authors }}</p>
            <p>{{ entry.shortDescription }}</p>
            <a class="uk-button uk-button-text" href="{{ entry.url }}">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="uk-flex uk-flex-center uk-margin">
      <a class="uk-button uk-button-primary" href="{{ siteUrl }}./research">See more Research</a> 
    </div>
  </section>



</div>

{% endblock %}