{% extends '_layouts/layout_main' %}

{% set body_class = 'page-home' %}

{% block content %}

{% set bannerImage = entry.bannerImage.one() %}
{% if bannerImage %}
  <div id="heroImage" class="uk-margin" style="background-image: url('{{ siteUrl ~ entry.bannerImage.one().getUrl()}}');"></div>
{% endif %}

{% set home = craft.entries.section('home').one() %}
<div class="uk-container">
  <!-- about section-->
  <section class="uk-margin-large-top">
    <div class="uk-flex uk-flex-middle uk-grid-match uk-grid-medium" uk-grid>
      {# get pinned news item, if it exists #}
      {% set pinned = craft.entries.section('news').pinToHome(true).
          orderBy('date desc').limit(1).all() %}

      {% if pinned %}
        <div id="aboutText" class="uk-width-1-2@m">{{ entry.about }}</div>

        <div class="uk-width-1-2@m" id="pinnedNewsBox">
          <div class="uk-card uk-card-body">
            <h3>{{ pinned[0].title }}</h3>
            {% set content = pinned[0].newsContent %}
            {% if wordcount(content) > 40 %}
              <div class="content-{{pinned[0].slug}}">
                {{ content | chop(limit=30, unit='w', allowedTags='<h1><h2><h3><h4><h5<h6><p><ul><li><ol><strong><em><del>') }}
              </div>
              <div class="content-{{pinned[0].slug}}" hidden>
                {{ content }}
              </div>
              <button class="uk-button uk-button-text" type="button" onclick="toggleReadBtn(this)" uk-toggle="target: .content-{{pinned[0].slug}}">Read More</button>
            {% else %}
              {{ content }}
            {% endif %}
  
          </div>
        </div>
      
      {% else %} {# no pinned item, center about text #}
        <div class="uk-flex uk-flex-center">
          <div id="aboutText" class="uk-width-3-5@m ">{{ entry.about }}</div>
        </div>
      {% endif %}
    </div>
  </section>


  <!-- news section -->
  <section class="uk-margin-large-top">
    <h1 class="uk-flex uk-flex-center">News</h1>

    <div class="uk-child-width-1-3@m uk-grid-divider" uk-grid>
      {% for entry in craft.entries.section('news').pinToHome(false).orderBy('date desc').limit(3).all() %}
      <div>
        <div class="uk-card uk-card-small uk-card-body">
          <h3 class="uk-card-title uk-margin-remove-bottom">{{ entry.title }}</h3>
          <p class="uk-text-meta uk-margin-remove-top">{{ entry.date | date('M d, Y') }}</p>
          {% set content = entry.newsContent %}
          {% if wordcount(content) > 40 %}
            <div class="content-{{entry.slug}}">
              {{ content | chop(limit=30, unit='w', allowedTags='<h1><h2><h3><h4><h5<h6><p><ul><li><ol><strong><em><del>') }}
            </div>
            <div class="content-{{entry.slug}}" hidden>
              {{ content }}
            </div>
            <button class="uk-button uk-button-text" type="button" onclick="toggleReadBtn(this)" uk-toggle="target: .content-{{entry.slug}}">Read More</button>
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="uk-flex uk-flex-center uk-margin">
      <a class="uk-button uk-button-primary" href="{{ siteUrl }}./news">See more News</a> 
    </div>
  </section>


<!-- research section -->
  <section class="uk-margin-large-top">
    <h1 class="uk-flex uk-flex-center">Featured Research</h1>

    <div class="uk-child-width-1-3@m" uk-grid>
      {% set projects = craft.entries({
        section: 'research',
        orderBy: 'homePageFeatured desc, postDate desc'
      }).limit(3).all() %}

      {% for entry in projects %}
        <div><div class="uk-card">
          <div class="uk-card-body uk-padding-remove-bottom"><a href="{{ entry.url }}">
            {% set image = entry.researchFeatureImage.one() %}
            {% if image %}
              <img class="uk-margin-small-bottom thumbnailImage" data-src="{{ siteUrl ~ image.getUrl('thumbLSquare') }}" alt="{{ entry.title }} image" width="{{ image.getWidth('thumbLSquare') }}" height="{{ image.getHeight('thumbLSquare') }}" uk-img>
            {% else %}
              <img src="http://via.placeholder.com/580x320?text=&nbsp;" alt="placeholder image">
            {% endif %}
            
            <h5 class="uk-margin-remove uk-text-center">{{ entry.title }}</h5>
          </a></div>
        </div></div>
      {% endfor %}
    </div>

    <div class="uk-flex uk-flex-center uk-margin">
      <a class="uk-button uk-button-primary" href="{{ siteUrl }}./research">See more Research</a> 
    </div>
  </section>



</div>

{% endblock %}