{% extends '_layouts/layout_main' %}


{# macro to create a news item card #}
{% macro newsItem(entry, isPin) %}
  <div class="uk-card">
    <h2 class="uk-margin-remove-bottom">{{ entry.title }}</h2>

    {% if not isPin %} {# don't show dates on pinned items #}
      <p class="subtitle">{{ entry.postDate | date('M d, Y') }}</p>
    {% endif %}
    
    {% set content = entry.newsContent %}
    {% if wordcount(content) > 50 %} {# truncate content if over 50 words #}
      <div class="content-{{entry.slug}}">
        {{ content | chop(limit=30, unit='w', allowedTags='<h1><h2><h3><h4><h5<h6><p><ul><li><ol><strong><em><del>') }}
      </div>
      <div class="content-{{entry.slug}}" hidden>
        {{ content }}
      </div>
      <button class="uk-button uk-button-text" type="button" onclick="toggleReadBtn(this)" uk-toggle="target: .content-{{entry.slug}}">Read More</button>
    {% else %}
      {{ content }}
    {% endif %}
  </div>
{% endmacro %}



{% set body_class = 'page-home' %}

{% block content %}

{% set bannerImage = entry.bannerImage.one() %}
{% if bannerImage %}
  <div id="heroImage" class="uk-margin" style="background-image: url('{{ siteUrl ~ entry.bannerImage.one().getUrl()}}');"></div>
{% endif %}

{% set home = craft.entries.section('home').one() %}
<div class="uk-container">

  <!-- about section-->
  <section class="uk-margin-top">
    <div class="uk-flex uk-flex-middle uk-grid-match uk-grid-medium" uk-grid>
      <div class="uk-flex uk-flex-center">
        <div id="aboutText" class="uk-width-2-3@m uk-width-2-3@s ">{{ entry.about }}</div>
      </div>
    </div>
  </section>


  <!-- prof intro section -->
  <section class="uk-margin-large-top">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-3@m uk-width-1-2@s uk-flex uk-flex-column uk-flex-middle">
        {% set leftImage = entry.leftProfileImage.one() %}
        {% if leftImage %}
         <img data-src="{{ siteUrl ~ leftImage.getUrl('thumbSquare') }}" alt="{{entry.leftProfileName}}" width="{{ leftImage.getWidth('thumbSquare') }}" height="{{ leftImage.getHeight('thumbSquare') }}" uk-img>
        {% endif %}
        <h2>{{ entry.leftProfileName }}</h2>
        <p>{{ entry.leftProfileDescription }}</p>
      </div>

      <div class="uk-width-1-3@m uk-width-1-2@s uk-flex uk-flex-column uk-flex-middle">
        {% set rightImage = entry.rightProfileImage.one() %}
        {% if rightImage %}
         <img data-src="{{ siteUrl ~ rightImage.getUrl('thumbSquare') }}" alt="{{entry.rightProfileName}}" width="{{ rightImage.getWidth('thumbSquare') }}" height="{{ rightImage.getHeight('thumbSquare') }}" uk-img>
        {% endif %}
        <h2>{{ entry.rightProfileName }}</h2>
        <p>{{ entry.rightProfileDescription }}</p>
      </div>
    </div>
  </section>


  <!-- publication section -->
  <section class="uk-margin-large-top">
    <h1 class="uk-flex uk-flex-center">Featured Publications</h1>

    <div class="uk-child-width-1-4@s uk-grid-small" uk-grid>
      {% set projects = craft.entries({
        section: 'publications',
        orderBy: 'homePagePinned desc, postDate desc'
      }).limit(4).all() %}

      {% for entry in projects %}
        <div><div class="uk-card">
          <div class="uk-card-body uk-card-small uk-padding-remove-bottom"><a href="{{ entry.url }}">
            {% set image = entry.publicationImage.one() %}
            {% if image %}
              <img class="uk-margin-small-bottom thumbnailImage" data-src="{{ siteUrl ~ image.getUrl('thumbLSquare') }}" alt="{{ entry.title }} image" width="{{ image.getWidth('thumbLSquare') }}" height="{{ image.getHeight('thumbLSquare') }}" uk-img>
            {% else %}
              <img src="http://via.placeholder.com/400x400?text=&nbsp;" alt="placeholder image">
            {% endif %}
            
            <h3 class="uk-margin-remove uk-text-center">{{ entry.title }}</h3>
          </a></div>
        </div></div>
      {% endfor %}
    </div>

    <div class="uk-flex uk-flex-center uk-margin">
      <a class="cta-button uk-button" href="{{ siteUrl }}./publications">See more Publications</a> 
    </div>
  </section>



  <!-- news section -->
  <section class="uk-margin-large-top">
    <h1 class="uk-flex uk-flex-center">News</h1>

    <div class="uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-divider" uk-grid>
      {# get pinned news item, if it exists #}
      {# current design limits pinned items to 1, aka the latest one #}
      {% set pinned = craft.entries.section('news').pinToHome(true).orderBy('postDate desc').limit(1).all() %}
      {% set remainingItems = 4 %} {# number of non-pin items to fetch after #}
      {% if pinned %}
        {% set remainingItems = 3 %}
        <div>{{ _self.newsItem(pinned[0], true)  }}</div>
      {% endif %}

      {# fetch regular news items #}
      {% for entry in craft.entries.section('news').pinToHome(false).orderBy('postDate desc').limit(remainingItems).all() %}
        <div>{{ _self.newsItem(entry, false)  }}</div>
      {% endfor %}
    </div>

    <div class="uk-flex uk-flex-center uk-margin">
      <a class="cta-button uk-button" href="{{ siteUrl }}./news">See more News</a> 
    </div>
  </section>





</div>

{% endblock %}