{# People index page, should be a 'single' section #}

{% extends '_layouts/layout_main' %}

{% set body_class = 'page-people' %}
{% set title = "People - ixLab" %}

{% set postdoc = craft.categories.slug('postdoc').one() %}
{% set phd = craft.categories.slug('phd').one() %}
{% set masters = craft.categories.slug('masters').one() %}
{% set undergrad = craft.categories.slug('undergrad').one() %}
{% set ra = craft.categories.slug('research-assistant').one() %}


{# <!-- Create cards for each group/role combination --> #}
{% macro createCards(group, role) %}
  {% set students = craft.entries.section('people').relatedTo(['and',
  {element: group}, {element: role}]).orderBy('lastName asc').all() %}
  {% for student in students %}
  {{ _self.pCard(student.slug, student.title, student.role.one().title, student.bio, student.website, student.profileImage.one()) }}
  {% endfor %}
{% endmacro %}


{# <!-- Card template for each person --> #}
{% macro pCard(slug, name, role, bio, website, image) %}
  <div class="uk-card uk-width-1-2" data-role="{{role}}"><a href="#{{slug}}-modal" class="uk-link-reset" uk-toggle>
    <div class="uk-card-body uk-card-small uk-flex uk-flex-column uk-flex-middle">
      {% if image %}
        <img data-src="{{ image.getUrl('thumbSquare') }}" alt="Project image" width="{{ image.getWidth('thumbSquare') }}" height="{{ image.getHeight('thumbSquare') }}" uk-img>
      {% else %}
        <img src="http://via.placeholder.com/200x200?text=&nbsp;" alt="placeholder">
      {% endif %}
      
      <h3 class="uk-margin-remove uk-text-bold  uk-text-center">{{ name }}</h3>
      <p class="uk-margin-remove-top">{{ role }}</p>
    </div>
  </a></div>

  <!-- create a modal for each student -->
  <div id="{{slug}}-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <div uk-grid>
        <div class="uk-width-1-3">
          {% if image %}
            <img data-src="{{ image.getUrl('thumbSquare') }}" alt="Project image" width="{{ image.getWidth('thumbSquare') }}" height="{{ image.getHeight('thumbSquare') }}" uk-img>
          {% else %}
            <img src="http://via.placeholder.com/200x200?text=&nbsp;" alt="placeholder">
          {% endif %}
        </div>

        <div class="uk-width-2-3">
          <h3 class="uk-margin-remove uk-text-bold">{{ name }}</h3>
          <p class="uk-margin-remove-top">{{ role }}</p>
          <p>{{ bio }}</p>
          {% if website %}
            <a href="{{ website }}" target="_blank">WEBSITE</a>
          {% endif %}
        </div>
      </div>
      <button class="uk-modal-close-default" type="button" uk-close></button>  
    </div>
  </div>
{% endmacro %}



{% block content %}

  <div class="uk-container">
  <!-- double div filter workaround: https://github.com/uikit/uikit/issues/3416 -->
  <div uk-filter=".js-filter1"><div uk-filter=".js-filter2">

    <!--role filter controls-->
    <div class="uk-flex uk-flex-center">
      <ul class="uk-subnav uk-subnav-pill">
        <li class="uk-active" uk-filter-control><a href="#">All</a></li>
        <li uk-filter-control="[data-role='Prof']"><a href="#">Professor</a></li>
        <li uk-filter-control="[data-role='Postdoc']"><a href="#">Postdoc</a></li>
        <li uk-filter-control="[data-role='PhD']"><a href="#">PhD</a></li>
        <li uk-filter-control="[data-role='Masters']"><a href="#">Masters</a></li>
        <li uk-filter-control="[data-role='Undergrad']"><a href="#">Undergrad</a></li>
        <li uk-filter-control="[data-role='Research Assistant']"><a href="#">Research Assistant</a></li>
        <li class="uk-inline"><a href="#">Alumni <span uk-icon="icon: chevron-down"></span></a>
          <div uk-dropdown="mode: click">
            <ul class="uk-list  uk-margin-remove-bottom">
              <li><a class="uk-link-muted" href="http://sheelaghcarpendale.ca/People/PreviousPeople" target="_blank">Sheelagh's Students</a></li>
              <li><a class="uk-link-muted" href="http://hci.cs.sfu.ca/people.html" target="_blank">Parmit's Students</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>


    <!-- People Grid -->
    <div class="uk-child-width-1-2@m" uk-grid>

      <!-- Sheelagh Side -->
      <div><div class="js-filter1" uk-grid>
        {% set sheelaghGroup = craft.categories.slug('innovis').one() %}

         <!-- Sheelagh Card -->
        <div class="uk-flex uk-flex-center" data-role="Prof">
          {% set sheelagh = craft.entries.section('people').slug('sheelagh-carpendale').one() %}
          {% if sheelagh %}
            <div class="uk-card uk-width-2-3">
              <div class="uk-card-body uk-card-small uk-flex uk-flex-column uk-flex-middle">
                {% set image = sheelagh.profileImage.one() %}
                {% if image %}
                  <img data-src="{{ image.getUrl('thumbSquare') }}" alt="Project image" width="{{ image.getWidth('thumbSquare') }}" height="{{ image.getHeight('thumbSquare') }}" uk-img>
                {% else %}
                  <img src="http://via.placeholder.com/200x200?text=&nbsp;" alt="placeholder">
                {% endif %}
                <a href="{{ sheelagh.website }}"><h3 class="uk-margin-remove-bottom uk-text-bold">{{ sheelagh.title }}</h3></a>
                <p class="uk-margin-remove-top">{{ sheelagh.role.one().title }}</p>
              </div>
              <p class="uk-margin-remove-top">{{ sheelagh.bio }}</p>
            </div>
          {% endif %}
        </div>

        <!-- postdoc -->
        {{ _self.createCards(sheelaghGroup, postdoc) }}

        <!-- phd -->
        {{ _self.createCards(sheelaghGroup, phd) }}

        <!-- masters -->
        {{ _self.createCards(sheelaghGroup, masters) }}

        <!-- undergrad -->
        {{ _self.createCards(sheelaghGroup, undergrad) }}

        <!-- research assistant -->
        {{ _self.createCards(sheelaghGroup, ra) }}
      </div></div>

      <!-- Parmit Side -->
      <div><div class="js-filter2" uk-grid> 
        {% set parmitGroup = craft.categories.slug('parmits-lab').one() %}

        <!-- Parmit Card -->
        <div class="uk-flex uk-flex-center" data-role="Prof"> 
          {% set parmit = craft.entries.section('people').slug('parmit-chilana').one() %}
          {% if parmit %}
            <div class="uk-card uk-width-2-3">
              <div class="uk-card-body uk-card-small uk-flex uk-flex-column uk-flex-middle">
                {% set image = parmit.profileImage.one() %}
                {% if image %}
                  <img data-src="{{ image.getUrl('thumbSquare') }}" alt="Project image" width="{{ image.getWidth('thumbSquare') }}" height="{{ image.getHeight('thumbSquare') }}" uk-img>
                {% else %}
                  <img src="http://via.placeholder.com/200x200?text=&nbsp;" alt="placeholder">
                {% endif %}
                <a href="{{ parmit.website }}"><h3 class="uk-margin-remove-bottom uk-text-bold">{{ parmit.title }}</h3></a>
                <p class="uk-margin-remove-top">{{ parmit.role.one().title }}</p>
              </div>
              <p class="uk-margin-remove-top">{{ parmit.bio }}</p>
            </div>
          {% endif %}
        </div>

        <!-- postdoc -->
        {{ _self.createCards(parmitGroup, postdoc) }}

        <!-- phd -->
        {{ _self.createCards(parmitGroup, phd) }}

        <!-- masters -->
        {{ _self.createCards(parmitGroup, masters) }}

        <!-- undergrad -->
        {{ _self.createCards(parmitGroup, undergrad) }}

        <!-- research assistant -->
        {{ _self.createCards(parmitGroup, ra) }}
      </div></div>

    </div><!--end people grid-->
  </div></div>
  </div>

{% endblock %}