{% extends '_layouts/layout_main' %}

{% set body_class = 'page-research' %}
{% set title = "Research - ixLab" %}

{% macro createResearchCards(project) %}
  <div class="uk-margin-small-bottom@s uk-margin-medium-bottom@l uk-card-body uk-margin-medium-left@s uk-margin-small-left@l">
    <a href=" {{ project.url }}">
      <div>
        {% set image = project.researchFeatureImage.one() ?? null %}
        {% if image and image.kind == "image" %}
          <img class="uk-align-center uk-margin-remove-bottom thumbnailImage" data-src="../../{{ image.getUrl('thumbLSquare2') }}" alt="Project image" width="{{ image.getWidth('thumbLSquare2') }}" height="{{ image.getHeight('thumbLSquare2') }}" uk-img>
        {% else %}
          <img class="uk-align-center uk-margin-remove-bottom" src="http://via.placeholder.com/800x500?text=Project" alt="placeholder" uk-img>
        {% endif %}
      </div>
      <h5 class="uk-margin-remove-bottom uk-margin-remove-top uk-text-center">{{ project.title }}</h5>
    </a>
  </div> <!-- end of card -->
{% endmacro %}

{% macro createFullResearchThemes(category) %}
  <ul class="uk-subnav uk-subnav-pill uk-text-center uk-flex-center@s  uk-flex-right@m uk-margin-small-top" uk-margin>
    {% for theme in craft.categories.group('researchTheme').all() %}
      {% set entriesInTheme = craft.entries.section('research').relatedTo(theme) %}
      {% if entriesInTheme|length > 0 %}
        {% if theme.title == category.title %}
          <li class="uk-active"><a href="{{ theme.url }}">{{ theme.title }}</a></li>
        {% else %}
          <li><a href="{{ theme.url }}">{{ theme.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro createShortResearchThemes(category) %}
  <div class="researchThemes uk-align-center@s uk-margin-remove uk-padding-remove">
    <ul class="uk-subnav uk-subnav-pill uk-text-center uk-flex-center@s  uk-flex-right@m uk-margin-small-top uk-child-width-1-1@s uk-margin-small-bottom" uk-margin>
      {% for theme in craft.categories.group('researchTheme').limit(5).all() %}
        {% set entriesInTheme = craft.entries.section('research').relatedTo(theme) %}
        {% if entriesInTheme|length > 0 %}
          {% if theme.title == category.title %}
            <li class="uk-active"><a href="{{ theme.url }}">{{ theme.title }}</a></li>
          {% else %}
            <li><a href="{{ theme.url }}">{{ theme.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="researchThemes uk-align-center@s uk-margin-remove uk-padding-remove" hidden>
    <ul class="uk-subnav uk-subnav-pill uk-text-center uk-flex-right@l uk-margin-small-top uk-child-width-1-1@s uk-margin-small-bottom" uk-margin>
      {% for theme in craft.categories.group('researchTheme').all() %}
        {% set entriesInTheme = craft.entries.section('research').relatedTo(theme) %}
        {% if entriesInTheme|length > 0 %}
          {% if theme.title == category.title %}
            <li class="uk-active"><a href="{{ theme.url }}">{{ theme.title }}</a></li>
          {% else %}
            <li><a href="{{ theme.url }}">{{ theme.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <button class="uk-button uk-button-text uk-align-center uk-margin-remove-top" type="button" onclick="toggleThemeBtn(this)" uk-toggle="target: .researchThemes">See More</button>

{% endmacro %}



{% block content %}

<div class="uk-container">

  <h1 class="uk-margin-medium-top uk-margin-medium-bottom uk-text-center uk-heading-medium">
    Featured Research
  </h1>
  <div class="uk-grid-large" uk-grid>
    <div class="uk-width-1-4@m">
      <div class="uk-align-right@l" uk-grid>
        <h4 class="uk-flex-right uk-text-center uk-text-right@m uk-padding-remove-left@s"> Research Themes </h4>
        <div class="uk-visible@m uk-margin-remove-top">
          {{ _self.createFullResearchThemes(category) }}
        </div>
        <div class="uk-hidden@m uk-margin-remove-top">
          {{ _self.createShortResearchThemes(category) }}
        </div>
      </div>
    </div><!-- left column -->

    <div class="uk-width-2-3@m uk-child-width-1-3@s uk-margin-remove-top uk-margin-small-left uk-margin-remove-left@l" uk-grid>
      {% set projectEntries = craft.entries.section('research').relatedTo(category).all() %}
      {% for project in projectEntries %}
        {{ _self.createResearchCards(project) }}
      {% endfor %}
    </div>
  </div> <!-- end of grid -->
</div> <!-- end of container -->

{% endblock %}