{# This is the Research index page, it holds the channel of research projects. It should be a 'single' section #}


{% extends '_layouts/layout_main' %}

{% set body_class = 'page-research' %}
{% set title = "Research - ixLab" %}

{% macro createResearchCards(project) %}
  <div class="uk-card uk-card-default uk-card-hover uk-margin-bottom">
    <div class="uk-card-media-top">
      {% set image = project.researchFeatureImage.one() %}
      {% if image %}
        <img class="uk-align-center" data-src="{{ image.getUrl() }}" alt="Project image" width=data-width height=data-height uk-img>
      {% else %}
        <img class="uk-align-center" src="http://via.placeholder.com/500x400?text=&nbsp;" alt="placeholder" uk-img>
      {% endif %}
    </div>
    <div class="uk-card-header">
      <div class="uk-margin-top">
        <h1 class="uk-card-title">{{ project.title }}</h1>
        <p>{{ project.authors }}</p>
      </div>
    </div>
    <div class="uk-card-body">
      <div class="content abstract">
        {{ project.shortAbstract }}
      </div>
    </div>
    <div class="uk-card-footer">
      <a href=" {{ project.url }}" class="uk-button uk-button-default">Read more</a>
    </div>
  </div> <!-- end of card -->
{% endmacro %}


{% block content %}

<div class="uk-background-primary uk-width-1-1">
  {% set research = craft.entries.section('researchIndex').one() %}
  <div class="uk-margin-large-left" uk-grid>
    <h1 class="uk-heading-medium uk-margin-medium-top uk-margin-medium-bottom">
    {{ research.researchPageHeader }}
    </h1>
  </div> <!-- page heading -->
</div>

<div class="uk-container">
  <div class="uk-child-width-1-2 uk-grid-small" uk-grid>
    <div class="uk-align-center">
      <div class="uk-background-muted uk-margin-bottom uk-padding-large">
        <p>{{ research.researchLabLeft }} </p>
        <div class="uk-margin-top">
          <a class="uk-button uk-button-primary uk-button-large" href="{{ research.researchLabLeftUrl }}"> Visit the Lab</a>
        </div>
      </div> <!-- Sheelagh's Group Intro -->
      <div>
        {% set category = craft.categories.group('researchlab').all() %}
          {% for project in craft.entries.section('research').limit(5).relatedTo(category[1]) %}
            {{ _self.createResearchCards(project) }}
          {% endfor %}
      </div> <!-- Sheelagh's Projects -->
    </div> <!-- end of column 1 -->

    <div class="" uk-grid>
      <div class="">
        <div class="uk-background-muted uk-margin-bottom uk-padding-large">
          <p> {{ research.researchLabRight }}</p>
          <div class="uk-margin-top">
            <a class="uk-button uk-button-primary uk-button-large" href="{{ research.researchLabRightUrl }}">Visit the Lab</a>
          </div>
        </div><!-- Parmit's Lab Intro -->
        <div>
          {% set category = craft.categories.group('researchlab').one() %}
            {% for project in craft.entries.section('research').limit(5).relatedTo(category) %}
              {{ _self.createResearchCards(project) }}
            {% endfor %}
        </div> <!-- Parmit's Projects -->
      </div> 
    </div> <!-- end of column 2 -->
  </div> <!-- end of grid -->
</div> <!-- end of container -->


{% endblock %}
