{# This is the Research index page, it holds the channel of research projects. It should be a 'single' section #}


{% extends '_layouts/layout_main' %}

{% set body_class = 'page-research' %}
{% set title = "Research" %}


{# Macro to create a div for a research project #}
{% macro createProject(project) %}
<div class="uk-grid-small uk-margin-medium-bottom">
  <h4 class="uk-margin-remove-bottom">{{ project.title }}</h4>
  <h5 class="uk-margin-remove">Sponsor: {{ project.projectSponsor }}</h5>

  {{ project.projectDescription }}

  {% set images = project.projectImages.all() %}
  {% if images|length > 0 %}
    <div class="uk-child-width-1-3@m uk-width-1-1 uk-grid-small  popup-gallery" uk-grid>
      {% for image in images %}
        {% if image %}
          <div>
            <a class="uk-inline" href="{{ siteUrl ~ image.getUrl() }}">
              <img class="thumbnailImage" src="{{ siteUrl ~ image.getUrl('thumbSquare') }}" alt="{{project.title}} image">
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% set links = project.projectLinks %}
  {% if links %}
    <h5 class="uk-margin-remove-bottom">Links:</h5>
    {{ links }}
  {% endif %}

  {% set relevantPapers = project.relevantPapers %}
  {% if relevantPapers %}
    <h5 class="uk-margin-remove-bottom">Relevant Papers:</h5>
    <p>{{ relevantPapers }}</p>
  {% endif %}


</div>
{% endmacro %}



{% block content %}

<div class="uk-container">
  <h1 class="page-header uk-text-center uk-heading-medium">{{entry.researchPageHeader}}</h1>

  <div class="uk-child-width-1-2@m uk-grid-large" uk-grid>
    <div> <!-- Sheelagh Side -->
      <h2 class="uk-margin-remove-bottom">{{ entry.researchPageLeftHeader }}</h2>
      {{ entry.researchPageLeftText }}

      <h3 class="uk-heading-line uk-text-center"><span>Featured Project</span></h3>
      {% set sheelaghGroup = craft.categories.slug('innovis').one() %}
      {% set project = craft.entries.section('research').relatedTo(sheelaghGroup).one() %}
      {% if project %}
        {{ _self.createProject(project) }}
      {% endif %}

      <a class="cta-button uk-button" href="{{ entry.researchPageLeftLink }}">SEE MORE PROJECTS</a>
    </div>

    <div> <!-- Parmit Side -->
      <h2 class="uk-margin-remove-bottom">{{ entry.researchPageRightHeader }}</h2>
      {{ entry.researchPageRightText }}

      <h3 class="uk-heading-line uk-text-center"><span>Featured Project</span></h3>
      {% set parmitGroup = craft.categories.slug('parmits-lab').one() %}
      {% set project = craft.entries.section('research').relatedTo(parmitGroup).one() %}
      {% if project %}
        {{ _self.createProject(project) }}
      {% endif %}

      <a class="cta-button uk-button" href="{{ entry.researchPageRightLink }}">SEE MORE PROJECTS</a>
    </div>

  </div>
</div>



{% endblock %}
