<!DOCTYPE HTML>
<html lang="{{ currentSite.language }}" dir="{{craft.app.i18n.getLocaleById(currentSite.id).getOrientation()}}">
<head>

  <!-- Based off of template created by Piotr Pogorzelski - craftsnippets.com -->
  <!-- See http://craftsnippets.com/starter-theme-for-craft-cms#system for docs-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  {% if craft.app.config.general.theme.color is defined %}
    <meta name="theme-color" content="{{craft.app.config.general.theme.color}}" />
  {% endif %}
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

  {% include '_system/seo' %}
  {% include '_system/favicons' %}
  {% include '_system/fonts' %}
  {% include '_system/static' %}  <!-- loads styles/scripts -->
 
  {% set trackingCode = googleAnalytics.gAnalyticsSnippet is defined ? googleAnalytics.gAnalyticsSnippet %}
  {% if trackingCode %}
    {{ trackingCode | raw }}
  {% endif %}

  {% block head %}{% endblock %}
</head>

<body class="{{body_class ?? null}} {{craft.app.request.isMobileBrowser() ? 'is-mobile' : 'is-desktop'}}">
  {% set tagManager = googleTagManager.gTagSnippet is defined ? googleTagManager.gTagSnippet %}
  {% if tagManager %}
    {{ tagManager | raw }}
  {% endif %}
  
{% block layout %}{% endblock %}
{% block endBody %}{% endblock %}

</body>
</html>