{% extends '_layouts/base' %}
{% import '_system/macros.twig' as siteMacros %}


{% block layout %}
<div class="l-external-container">
<div class="l-main">
	
	<header>
		<div class="uk-container">
			<div class="uk-flex uk-flex-center uk-margin-top">
				{# <a href="{{ siteUrl }}"><img src="{{ alias('@assetUrl/img/siteAssets/ixlab.svg') }}" width="300" height="125" alt="ixLab"></a> #}
				<a href="{{ siteUrl }}"><img src="{{ siteLogo.siteLogo.one().getUrl() }}" width="300" height="125" alt="ixLab"></a>
			</div>
			
			<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
				<div class="uk-navbar-center">
					<ul class="uk-navbar-nav">
							<li class="{{ siteMacros.is_active('') }}"><a href="{{ siteUrl }}">Home</a></li>
							<li class="{{ siteMacros.is_active('people') }}"><a href="{{ siteUrl }}./people">People</a></li>
							<li class="{{ siteMacros.is_active('research') }}"><a href="{{ siteUrl }}./research">Research</a></li>
							<li class="{{ siteMacros.is_active('publications') }}"><a href="{{ siteUrl }}./publications">Publications</a></li>
							<li class="{{ siteMacros.is_active('courses') }}"><a href="{{ siteUrl }}./courses">Courses</a></li>
							<li class="{{ siteMacros.is_active('news') }}"><a href="{{ siteUrl }}./news">News</a></li>
							<li class="{{ siteMacros.is_active('affiliations') }}"><a href="{{ siteUrl }}./affiliations">Affiliations</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<div class="l-outside-footer">
		{% block content %}{% endblock %}
	</div>

</div>
	<div class="l-footer-fixed">
		{% include "_components/footer" %}
		{% block footer %}{% endblock %}
	</div>
</div>
{% endblock %}