{% extends '_layouts/layout_main' %}

{% set body_class = 'page-404' %}

{% block content %}
<div class="uk-container">

  <div class="help-text uk-text-center">
    <h1> 404. </h1>
    <h3>We're sorry, we can't find the page you're looking for.</h3>
    <h3>While you're here, please take a look at some of our featured research projects.</h3>
  </div>

  <div class="uk-child-width-1-3@m" uk-grid>
    {% set projects = craft.entries({
      section: 'research',
      orderBy: 'homePageFeatured desc, postDate desc'
    }).limit(3).all() %}

    {% for entry in projects %}
      <div><div class="uk-card">
        <div class="uk-card-body"><a href="{{ entry.url }}">
          {% set image = entry.researchFeatureImage.one() %}
          {% if image %}
            <img class="uk-margin-small-bottom thumbnailImage" data-src="{{ siteUrl ~ image.getUrl('thumbLSquare') }}" alt="{{ entry.title }} image" width="{{ image.getWidth('thumbLSquare') }}" height="{{ image.getHeight('thumbLSquare') }}" uk-img>
          {% else %}
            <img src="http://via.placeholder.com/580x320?text=&nbsp;" alt="placeholder image">
          {% endif %}
          
          <h5 class="uk-margin-remove-top uk-text-center">{{ entry.title }}</h5>
        </a></div>
      </div></div>
    {% endfor %}
  </div>

</div>

{% endblock %}