{% extends '_layouts/layout_main' %}

{% set body_class = 'page-404' %}
{% set title = "404 - Did you get lost?" %}

{% block content %}
<div class="uk-container">

  <div class="help-text uk-text-center">
    <h1 class="page-header"> 404. </h1>
    <h3>We're sorry, we can't find the page you're looking for.</h3>
    <h3>While you're here, please take a look at some of our featured research projects.</h3>
  </div>

  <div class="uk-child-width-1-4@m" uk-grid>
    {% set projects = craft.entries({
      section: 'publications',
      orderBy: 'homePagePinned desc, postDate desc'
    }).limit(4).all() %}

    {% for entry in projects %}
    <div><div class="uk-card">
      <div class="uk-card-body uk-card-small uk-padding-remove-bottom"><a href="{{ entry.url }}">
        {% set image = entry.publicationImage.one() %}
        {% if image %}
          <img class="uk-margin-small-bottom thumbnailImage" data-src="{{ siteUrl ~ image.getUrl('thumbLSquare') }}" alt="{{ entry.title }} image" width="{{ image.getWidth('thumbLSquare') }}" height="{{ image.getHeight('thumbLSquare') }}" uk-img>
        {% else %}
          <img src="http://via.placeholder.com/400x400?text=&nbsp;" alt="placeholder image">
        {% endif %}
        
        <h3 class="uk-margin-remove uk-text-center">{{ entry.title }}</h3>
      </a></div>
    </div></div>
  {% endfor %}
  </div>

</div>

{% endblock %}