{# Course index page, should be a 'single' section #}

{% extends '_layouts/layout_main' %}

{% set body_class = 'page-courses' %}
{% set title = "Courses" %}

{% block content %}

<div class="uk-container">
  <h1 class="page-header uk-margin-medium-top uk-margin-medium-bottom uk-text-center uk-heading-medium">Courses</h1>
  
  <div class="uk-child-width-1-1@s" uk-grid>
    {% for entry in craft.entries.section('courses').orderBy('courseNumber asc').all() %}
      <div>
        <div class="uk-card uk-card-body uk-flex-middle" uk-grid>

          {# course image #}
          <div class="uk-width-1-3">
            {% set image = entry.courseFeatureImage.one() %}
            {% if image %}
              <a href="{{ siteUrl ~ image.getUrl() }}" class="featured-image">
                <img class="thumbnailImage" data-src="{{ siteUrl ~ image.getUrl('thumbWide') }}" alt="Course image" width=data-width height=data-height uk-img>
              </a>
            {% else %}
              <img src="http://via.placeholder.com/800x500?text=&nbsp;" alt="placeholder">
            {% endif %}
          </div>

          {# course info #}
          <div class="uk-width-2-3">
            <h5 class="uk-margin-remove-bottom">{{ entry.courseSubject }} {{ entry.courseNumber }}</h5>
            <h3 class="uk-card-title uk-margin-remove">{{ entry.title }}</h3>
            <p class="uk-text-meta uk-margin-remove-top">{{ entry.courseDepartment }}</p>
            

            {# Truncate description if too long #}
{# maybe not needed
            {% if wordcount(entry.description) > 50 %}
              <p>{{ entry.description | chop(limit=60, unit='w', allowedTags='<h1><h2><h3><h4><h5<h6><p><ul><li><ol><strong><em><del>', append='...') }} </p>
            {% else %}
              <p>{{ entry.description }}</p>
            {% endif %}
#}

            <p>{{ entry.description }}</p>
            <a href=" {{ entry.courseURL }}" target="_blank" class="uk-button cta-button">Course Outline</a>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>

  
</div>

{% endblock %}