{# Course index page, should be a 'single' section #}

{% extends '_layouts/layout_main' %}

{% set body_class = 'page-courses' %}
{% set title = "Courses - ixLab" %}

{% block content %}

<div class="uk-container">
  <h1 class="uk-heading-medium uk-margin-bottom">Recommended Courses</h1>
  
  <div uk-grid>
    <div class="uk-width-3-4@m uk-grid-collapse" uk-grid>
      {% for entry in craft.entries.section('courses') %}
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-padding-remove-left uk-margin" uk-grid>
          <div class="uk-card-media-left uk-cover-container">
            {% set image = entry.courseFeatureImage %}
            {% if image is defined and image is not null %}
            {% set image = entry.courseFeatureImage.one() %}
            {% if image is not null %}
              <img data-src="{{ image.getUrl('thumbLSquare') }}" alt="Course image" width=data-width height=data-height uk-cover uk-img>
              <canvas width="600" height="400"></canvas>
            {% else %}
              <img src="http://via.placeholder.com/500x500?text=&nbsp;" alt="placeholder" uk-cover>
              <canvas width="600" height="400"></canvas>
            {% endif %}
            {% endif %}
          </div>
          <div class="uk-card-body">
            <div class="uk-card-badge uk-label uk-margin-bottom">
              {{ entry.courseCode }}
            </div>
            <h3 class="uk-card-title uk-margin-top">{{ entry.title }}</h3>
            {% if wordcount(entry.description) > 50 %}
              <div class="content-{{entry.slug}}">
                <p>{{ entry.description | chop(limit=60, unit='w', allowedTags='<h1><h2><h3><h4><h5<h6><p><ul><li><ol><strong><em><del>', append='...') }} </p>
              </div>
            {% else %}
              <p> {{ entry.description }} </p>
            {% endif %}
            <a href=" {{ entry.url }}" class="uk-button uk-button-default">Read more</a>
          </div>
        </div>
      {% endfor %}
    </div><!-- courses list -->

    <div class="uk-width-1-4" uk-grid>
    </div><!-- sidebar -->
  </div>
  
</div>

{% endblock %}