{# This is the "Publication Index" page, a 'single' page that loads the publications from the Publication 'channel' #}

{% extends '_layouts/layout_main' %}

{% set body_class = 'page-publications' %}
{% set title = "Publications" %}

{% block content %}


{# Macro to create a div for a publication #}
{% macro createPublication(pub) %}
<div class="uk-grid-small uk-margin-medium-bottom" uk-grid>
  <div class="uk-width-1-4">
    <a href="{{ pub.url }}">
      {% set image = pub.publicationImage.one() %}
      {% if image %}
        <img class="thumbnailImage" src="{{ siteUrl ~ image.getUrl('thumbSquare') }}" alt="{{pub.title}}">
      {% else %}
        <img src="{{alias('@assetUrl/img/siteAssets/globalAssets/placeholderPublication.svg')}}" alt="No project image" width="100%">
      {% endif %}
    </a>
    <a type="button" onclick="$('#bibtex-{{pub.slug}}').toggle()">[BibTex]</a>
    <a href="{{ siteUrl ~ pub.pdf.one().getUrl() }}" target="_blank">[PDF]</a>
  </div>

  <div class="uk-width-3-4">
    <a href="{{ pub.url }}"><h5 class="uk-margin-remove-bottom">{{ pub.title }}</h5></a>
    <p class="uk-margin-remove-top">{{ pub.citation }}</p>
  </div>

  <!-- Hidden bibtex block until the link is clicked -->
  <div id="bibtex-{{pub.slug}}" class="bibtex">
    <pre>{{pub.bibtex}}</pre>
  </div>
</div>
{% endmacro %}


<div class="uk-container">
  <h1 class="uk-text-center uk-heading-medium">{{entry.publicationPageHeader}}</h1>

  <div class="uk-child-width-1-2@m uk-grid-large" uk-grid>
    <div> <!-- Sheelagh Side -->
      <h2>{{ entry.publicationPageLeftHeader }}</h2>
      
      {{ entry.publicationPageLeftText }}
      <h3>Featured Publications</h3>
      {% set sheelaghGroup = craft.categories.slug('innovis').one() %}
      {% set pubs = craft.entries.section('publications').relatedTo(sheelaghGroup).all() %}
      {% for pub in pubs %}
        {{ _self.createPublication(pub) }}
      {% endfor %}
    </div>

    <div> <!-- Parmit Side -->
      <h2>{{ entry.publicationPageRightHeader }}</h2>
      {{ entry.publicationPageRightText }}
      <h3>Featured Publications</h3>
      {% set parmitGroup = craft.categories.slug('parmits-lab').one() %}
      {% set pubs = craft.entries.section('publications').relatedTo(parmitGroup).all() %}
      {% for pub in pubs %}
        {{ _self.createPublication(pub) }}
      {% endfor %}
    </div>

  </div>
</div>

{% endblock %}