{# This is the "Publication Index" page, a 'single' page that loads the publications from the Publication 'channel' #}

{% extends '_layouts/layout_main' %}

{% set body_class = 'page-publications' %}
{% set title = "Publications" %}

{% block content %}


{# Macro to create a div for a publication #}
{% macro createPublication(pub) %}
<div class="uk-grid-small uk-margin-medium-bottom" uk-grid>
  <div class="uk-width-1-4">
    <a href="{{ pub.url }}">
      {% set image = pub.publicationImage.one() %}
      {% if image %}
        <img class="thumbnailImage" src="{{ siteUrl ~ image.getUrl('thumbSquare') }}" alt="{{pub.title}}">
      {% else %}
        <img src="{{alias('@assetUrl/img/siteAssets/globalAssets/placeholderPublication.svg')}}" alt="No project image" width="100%">
      {% endif %}
    </a>
    <a href="{{ siteUrl ~ pub.pdf.one().getUrl() }}" target="_blank">[PDF]</a>
    
    {# add video link if exists #}
    {% for block in pub.moreDetails.all() %}
      {% if block.type == "video" %}
        <a href={{ siteUrl ~ block.video.one().url }}>[Video]</a>

      {% elseif block.type == "videoLink" %}
        {% set platform = block.platform %}
        {% if platform == "youtube" %}
          <a href="{{ 'https://www.youtube.com/watch?v=' ~ block.videoID }}">[Video]</a>
        {% elseif platform == "vimeo" %}
          <a href="{{ 'https://vimeo.com/' ~ block.videoID }}">[Video]</a>
        {% elseif platform == "other" %}
          <a href="{{ block.videoID }}">[Video]</a>
        {% endif %}
      {% endif %}
      
    {% endfor %}

  </div>

  <div class="uk-width-3-4">
    <a href="{{ pub.url }}"><h3 class="uk-margin-remove">{{ pub.title }}</h3></a>
    <p class="uk-margin-remove-top">{{ pub.citation }}</p>
  </div>

</div>
{% endmacro %}


<div class="uk-container">
  <h1 class="page-header uk-text-center">{{entry.publicationPageHeader}}</h1>

  <div class="uk-hidden@m uk-flex uk-flex-center"><a class="uk-button" href="#parmit">Jump to Parmit Chilana</a></div>

  <div class="uk-child-width-1-2@m uk-grid-large" uk-grid>
    <div> <!-- Sheelagh Side -->
      <h2>{{ entry.publicationPageLeftHeader }}</h2>
      {{ entry.publicationPageLeftText }}

      <p class="subtitle ">FEATURED PUBLICATIONS</p>
      {% set sheelaghGroup = craft.categories.slug('innovis').one() %}
      {% set pubs = craft.entries.section('publications').relatedTo(sheelaghGroup).all() %}
      {% for pub in pubs %}
        {{ _self.createPublication(pub) }}
      {% endfor %}
    </div>

    <div id="parmit"> <!-- Parmit Side -->
      <h2>{{ entry.publicationPageRightHeader }}</h2>
      {{ entry.publicationPageRightText }}

      <p class="subtitle">FEATURED PUBLICATIONS</p>
      {% set parmitGroup = craft.categories.slug('parmits-lab').one() %}
      {% set pubs = craft.entries.section('publications').relatedTo(parmitGroup).all() %}
      {% for pub in pubs %}
        {{ _self.createPublication(pub) }}
      {% endfor %}
    </div>

  </div>
</div>

{% endblock %}